.box{
    width: 1000px;
    width: 1000px;
}
.container{
    display: grid;
    width: 700px;
    height: 750px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "main main" "else_1 else_2"
    "else_3 else_3";
    justify-items: stretch;
    background-color: rgb(253, 218, 218);
}
.main_1{
    display: grid;
    grid-template-areas: "container aside";
    width: 1000px;
    height: 750px;
    background-color: rgb(243, 230, 114);
    justify-items: center;
    align-items: stretch;
    text-align: center;
}
.main{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: stretch;
    background-color: rgb(253, 218, 218);
}
.else_1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: stretch;
    background-color: rgb(252, 211, 100);
    margin: 10px;  
}
.else_2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: stretch;
    background-color: rgb(252, 211, 100);
    ;
    margin: 10px;  
}
.else_3{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: stretch;
    background-color:rgb(252, 211, 100);
    ;
    margin: 10px;  
}
.header{
    background-color: rgb(150, 185, 173);
    width: 1000px;
    height: 50px;
    text-align: center;
}   
.aside{
    width: 300px;
    height: 750px;
    background-color: rgb(70, 250, 139);
    margin: 0px;
    text-align: center;
}
.footer{
    display: grid;
    width: 1000px;
    height: 200px;
    grid-template-areas: "footer1 footer2 footer3 footer4";
    justify-content: space-around;
    align-content: space-evenly;
    background-color:rgb(150, 185, 173);
}
.footer_1{
    width: 200px;
    height: 150px;
    background-color: aliceblue;
    margin: 10px;
    padding: 5px;
}
.footer_2{
    width: 200px;
    height: 150px;
    background-color: aliceblue;
    margin: 10px;
    padding: 5px;
}
.footer_3{
    width: 200px;
    height: 150px;
    background-color: aliceblue;
    margin: 10px;
    padding: 5px;
}
.footer_4{
    width: 200px;
    height: 150px;
    background-color: aliceblue;
    margin: 10px;
    padding: 5px;
}
@media screen and (max-width:760px){
    .main_1{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:760px){
    .container{
        display:flex;
        flex-direction: column;
    }
}
@media screen and (max-width:760px){
    .aside{
        display: none;
    } 
}
@media screen and (max-width:760px){
    .else_1{
        height: 50px;
    }
}
@media screen and (max-width:760px){
    .else_2{
        height: 50px;
    }
}
@media screen and (max-width:760px){
    .else_3{
        height: 50px;
    }
}
@media screen and (max-width:760px) {
    .footer{
        display: none;
    }
}
